body{
    margin: 0;
    padding: 0;
    background-image: url("background1.jpg");
    background-size: cover;
}

#btn{
    position: absolute;
    bottom: 15%;
    left: 48%;
    width: 7rem;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: #00ffd0;
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid #000000;
    box-shadow: 6px 6px 10px rgb(0, 0, 0);
    transition: .4s;
}
#btn:hover{
    width: 9rem;

}

.display{
    height: 10rem;
    width: 40rem;
    background-color: rgba(190, 186, 181, 0.764);
    position: absolute;
    left: 30%;
    top: 40%;
    border-radius: 2rem;
    border: 0.8rem solid rgb(0, 255, 208);
    text-align: center;
    display: flex;
    justify-content: center;
}



.input-div{
    position: absolute;
    left: 31%;
}

#h1{
    margin-top: 3rem;
    font-size: 2.5rem;
    margin-left:-3.5rem ;
}

h3{
    font-size: 2rem;
}

#name{
    position: relative;
    font-size: 2rem;
    width: 39rem;
    border-radius: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.a{

}
a
